[Desktop Entry]
Name=LightDM Greeter
Comment=This runs the Qt LightDM greeter, it should only be run from LightDM
Exec=graceful-greeter
Type=Application
X-Ubuntu-Gettext-Domain=lightdm
